* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(68, 192, 214, 0.753);
}

header {
    display: flex;
    justify-content: center;
}

button {
    width: 300px;
    height: 80px;
    text-align: center;
    margin: 50px 250px;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 80px;
    border: 3px dotted rgb(35, 21, 163);
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.5);
}


div {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transition: 0.3s;

}

div:hover {
    opacity: 0.5;
}

.circle {
    display: block;
    width: 50px;
    height: 50px;
    background-color: azure;
    margin: 20px;
    color: black;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    border-radius: 50%;
    border: 3px dotted black;
    float: left;
}